<div class="flex-container">
  <form [formGroup]="vehicleEntryForm">
    <mat-form-field>
      <mat-label>Vehicle ID</mat-label>
      <input matInput placeholder="Vehicle ID" formControlName="id" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Camera ID</mat-label>
      <input matInput placeholder="Camera ID" formControlName="cameraId" />
    </mat-form-field>
  </form>
  <div class="buttons">
    <button mat-button color="primary" *ngIf="formIsReadonly" (click)="allowEdit()">Edit</button>
    <button mat-button color="primary" *ngIf="!formIsReadonly" (click)="submitForm()">Submit</button>
    <button mat-button color="primary" *ngIf="!formIsReadonly" (click)="resetForm()">Cancel</button>
    <button mat-button  color="warn" (click)="delete()">Remove</button>
  </div>
</div>