<div class="flex-container">
  <form [formGroup]="cameraEntryForm">
    <mat-form-field>
      <mat-label>Camera ID</mat-label>
      <input matInput placeholder="Camera ID" formControlName="id" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Device Number</mat-label>
      <input matInput placeholder="Device Number" formControlName="deviceNo" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Vehicle ID</mat-label>
      <input matInput placeholder="Vehicle ID" formControlName="vehicleId" />
    </mat-form-field>
  </form>
  <div class="buttons">
    <button mat-button color="primary" *ngIf="formIsReadOnly" (click)="allowEdit()">Edit</button>
    <button mat-button color="primary" *ngIf="!formIsReadOnly" (click)="submitForm()">Submit</button>
    <button mat-button color="secondary" *ngIf="!formIsReadOnly" (click)="resetForm()">Cancel</button>
    <button mat-button color="warn" *ngIf="formIsReadOnly"(click)="delete()">Remove</button>
  </div>
</div>