<div class="flex-container">
  <form [formGroup]="cameraEntryForm">
    <div class="row">
      <div class="column">

        <mat-form-field *ngIf="cameraEntryForm.controls['id'] as idControl">
          <mat-label>Camera ID</mat-label>
          <input matInput placeholder="Camera ID" formControlName="id" />
          <mat-error *ngIf="idControl.hasError('required')">
            <p>Required</p>
          </mat-error>
          <mat-error *ngIf="idControl.hasError('pattern')">
            <p>Numbers only</p>
          </mat-error>
        </mat-form-field>

      </div>
      <div class="column">

        <mat-form-field *ngIf="cameraEntryForm.controls['deviceNo'] as deviceNoControl">
          <mat-label>Device Number</mat-label>
          <input matInput placeholder="Device Number" formControlName="deviceNo" />
          <mat-error *ngIf="deviceNoControl.hasError('required')">
            <p>Required</p>
          </mat-error>
        </mat-form-field>

      </div>
      <div class="buttons column">

        <button mat-button color="primary" *ngIf="formIsReadOnly" (click)="allowEdit()">Edit</button>
        <button mat-button color="primary" *ngIf="!formIsReadOnly" [disabled]="cameraEntryForm.invalid" (click)="submitForm()">Submit</button>
        <button mat-button color="secondary" *ngIf="!formIsReadOnly" (click)="resetForm()">Cancel</button>
        <button mat-button color="warn" *ngIf="formIsReadOnly" (click)="delete()">Remove</button>
        
      </div>
    </div>
  </form>
</div>