<div class="container">
  <div class="row flex">
    <input matInput placeholder="Search By Device Number" class="search-form flex-center" [(ngModel)]="searchInput" (ngModelChanage)="filterCameraList($event)" />
    <button mat-button color="primary" (click)="addCamera()"><p>New Camera</p></button>
  </div>

  <app-camera-form *ngFor="let camera of cameras" [camera]="camera" (createCamera)="createCamera($event)"
    (updateCamera)="updateCamera($event)" (deleteCamera)="deleteCamera($event)">
  </app-camera-form>
</div>