<div class="container">
  <div class="row flex">

    <mat-form-field class="search-form">
      <input matInput placeholder="Search By Device Number" name="searchForm"  [(ngModel)]="searchInput" (ngModelChange)="filterCameraList($event)" />
    </mat-form-field>

    <button mat-button color="primary" (click)="addBlankCamera()"><p>New Camera</p></button>
  </div>

  <app-camera-form *ngFor="let camera of cameras;let i = index" [camera]="camera" (createCamera)="createCamera($event)"
    (updateCamera)="updateCamera($event)" (deleteCamera)="deleteCamera($event)" (deleteUnsubmittedCamera)="removeBlankCamera(i)">
  </app-camera-form>
</div>