<div class="container">
  <div class="row flex">

  <mat-form-field class="search-form">
    <input matInput placeholder="Search By Vehicle Name" name="searchForm"  [(ngModel)]="searchInput" (ngModelChange)="filterVehicleList($event)" />
  </mat-form-field>

  <button mat-button color="primary" (click)="addVehicle()"><p>New Vehicle</p></button>
</div>

  <app-vehicle-form *ngFor="let vehicle of vehicles" [vehicle]="vehicle" (createVehicle)="createVehicle($event)"
    (updateVehicle)="updateVehicle($event)" (deleteVehicle)="deleteVehicle($event)">
  </app-vehicle-form>
</div>