<mat-card class="assignment-card">
  <mat-card-content>

    <form [formGroup]="assignmentForm">

      <div class="row">
        <div class="column">

          <mat-form-field *ngIf="assignmentForm.controls['vehicleId'] as vehicleIdControl">
            <mat-label>Vehicle ID</mat-label>
            <input matInput placeholder="Camera Number" formControlName="vehicleId" />
            <mat-error *ngIf="vehicleIdControl.hasError('required')">
              <p>Required</p>
            </mat-error>
          </mat-form-field>

        </div>
        <div class="column">

          <mat-form-field *ngIf="!isNewAssignment">
            <mat-label>Vehicle Name</mat-label>
            <input matInput placeholder="Vehicle Name" formControlName="vehicleName" />
          </mat-form-field>

        </div>
      </div>
      <div class="row">
        <div class="column">

          <mat-form-field *ngIf="assignmentForm.controls['cameraId'] as cameraIdControl">
            <mat-label>Camera ID</mat-label>
            <input matInput placeholder="Camera ID" formControlName="cameraId" />
            <mat-error *ngIf="cameraIdControl.hasError('required')">
              <p>Required</p>
            </mat-error>
          </mat-form-field>

        </div>
        <div class="column">

          <mat-form-field *ngIf="!isNewAssignment">
            <mat-label>Camera Number</mat-label>
            <input matInput placeholder="Camera Number" formControlName="cameraNumber" />
          </mat-form-field>

        </div>
        <div class="buttons column">

          <button mat-button color="warn" *ngIf="!isNewAssignment" (click)="deleteAssignment.emit(_assignment)">Unassign</button>
          <button mat-button color="primary" *ngIf="isNewAssignment" [disabled]="assignmentForm.invalid" (click)="submitForm()">Submit</button>
          <button mat-button color="secondary" *ngIf="isNewAssignment" (click)="delAssignment()">Cancel</button>

        </div>

      </div>

    </form>

  </mat-card-content>
</mat-card>