.assignment-card {
  width: fit-content;
  margin-top: 10px;
  margin-left: 10px;
}

.row {
  display: flex;
}

.column {
  padding: 5px;
  width: 50%;;
}

.buttons {
  display: flex;
}
