.assignment-card {
  width: fit-content;
  margin-top: 10px;
  margin-left: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  padding: 5px;
  flex: left;
}

.buttons {
  display: flex;
}
