<mat-card class="assignment-card">
  <mat-card-content>
    <div class="row">
      <div class="column" *ngIf="isNewAssignment">

        <mat-form-field appearance="fill">
          <mat-label>Vehicle Name</mat-label>
          <mat-select [(value)]="_assignment.vehicleId">
            <mat-option *ngFor="let vehicle of unassignedVehicles">{{vehicle.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
        <mat-label>Camera Number</mat-label>
        <mat-select [(value)]="_assignment.cameraId">
          <mat-option *ngFor="let vehicle of unassignedCameras">{{vehicle.deviceNo}}</mat-option>
        </mat-select>
      </mat-form-field>

      </div>
      <div class="column" *ngIf="!isNewAssignment">


        <h4>Vehicle: {{_assignment.vehicleId}}</h4>
        
        <h4>Camera: {{_assignment.cameraId}}</h4>


      </div>

    </div>
  </mat-card-content>
</mat-card>