<form [formGroup]="vehicleEntryForm" fxLayout="row">
  <div fxLayout="column">
    <mat-form-field>
      <mat-label>Vehicle Name</mat-label>
      <input matInput placeholder="Vehicle Name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Vehicle ID</mat-label>
      <input matInput placeholder="Vehicle ID" formControlName="id">
    </mat-form-field>
  </div>
</form>

<button mat-button color="primary" (click)="submitForm()">Create</button>
<button mat-button color="primary" (click)="closeForm()">Cancel</button>